@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

* {
  font-family: "poppins";
  @apply text-gray-100;
}

html {
  @apply text-sm md:text-base;
}

h1,
h3,
h6 {
  @apply font-bold;
}

h1 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

body {
  background-color: #2c2c2c;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 10vw;
  gap: 2rem;
}

.titles {
  text-align: center;
}

.proyects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 3rem;
  width: 100%;

  .proyect {
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 10px;
    transition: all 0.3s ease;
    height: fit-content;

    div {
      text-align: start;
      width: 100%;
      background-color: #1a1a1a;
      border-radius: 10px;
      transition: all 0.2s ease;
      padding-bottom: 0.4rem;

      h3,
      h5 {
        padding: 0.4rem 0.8rem;
      }

      .description {
        opacity: 0;
        transform: translateY(-10px);
        transition:
          opacity 0.5s ease,
          transform 0.5s ease;

        &.show {
          opacity: 1;
          transform: translateY(0);
        }

        &.hide {
          opacity: 0;
          transform: translateY(-10px);
        }
      }

      img {
        width: 100%;
      }

      button {
        background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
        border: none;
        padding: 1rem 2rem;
        border-radius: 20px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: all 0.3s ease;
        width: calc(100% - 0.8rem);
        margin: 0 0.4rem;

        .icon,
        .text {
          position: absolute;
          transition: all 0.5s ease;
        }

        .icon {
          opacity: 0;
        }

        .text {
          opacity: 1;
          transform: translateY(0);
        }

        &:hover {
          .icon {
            opacity: 1;
          }

          .text {
            opacity: 0;
            transform: translateY(-10px);
          }
        }
      }
    }

    div:hover {
      transform: scale(0.98);
      border-radius: 10px;
    }

    &:hover {
      box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
    }
  }
}

@media screen and (max-width: 768px) {
  .proyects {
    grid-template-columns: 1fr;
  }
}
