@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

* {
  font-family: "poppins";
  @apply text-gray-100;
}

h1,
h3,
h6 {
  @apply font-bold;
}

h1 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

button {
  @apply bg-linear-to-br from-green-400 to-blue-600 border-none px-4 py-2 rounded-xl cursor-pointer;
}
