@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

* {
  font-family: "poppins";
  @apply text-gray-100;
}

h1,
h3,
h6 {
  @apply font-bold;
}

p {
  @apply font-semibold;
}

h1 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}
